<!-- Footer -->
<div id="footer">
    <!-- Ads -->
    
    <!-- Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-left">
                <br><img src="/img/logo_new.jpg" class="img-responsive img-thumbnail img-fluid" height="35%"
                         width="35%">
                <p>
                    ezlife.eu, <%= runtime.about.postalCode %> <%= runtime.about.town %><br>
                    <%= runtime.about.country %>
                </p>
            </div>
            <div class="col-sm-6 text-right">
                <div id="footer-right">
                    <br>
                    <p><img src="/img/textmark1.svg" class="img-responsive img-thumbnail img-fluid" width="35%">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Copyright -->
<div class="container">
    <div class="row">
        <div class="col-sm-8 text-left">
            <br>
            <p>Created by <a href="/about"><%= runtime.about.name %></a></p>
        </div>
        <div class="col-sm-4 text-right">
            <br>
            <p>Designed by <a href="https://<%= runtime.about.homepage %>/about"><%= runtime.about.homepage %></a></p>
        </div>
    </div>
</div>

<br>