<!-- include static header -->
<%- include ('partials/header.ejs') %>

<!-- heading -->
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center text-responsive">Kategorien</h1>
        </div>
    </div>
</div>

<!-- main content -->
<% for(let i = 0;i < data.categories.length;i++) { %>
    <div class="container">
        <div class="row">
            <div class="col">
                <br>
                <h2 class="text-responsive"><a href="/category/<%= data.categories[i].id %>"><%= data.categories[i].category %></a>
                    (<%= data.categories[i].count %>)</h2>
                <img src="/img/categories/<%= data.categories[i].image_name %>"
                     class="card-img-top embed-responsive-item" id="categoryImg">

                <div class="dropdown-divider"></div>

                <div class="row">
                    <% for(let j = 0;j < data.subCategories.length;j++) { %>
                        <% if(data.categories[i].id == data.subCategories[j].categoryId) { %>
                            <div class="col-4">
                                <a href="/category/<%= data.categories[i].id %>/sub/<%= data.subCategories[j].id %>"><%= data.subCategories[j].subname %></a>
                                (<%= data.subCategories[j].count %>)
                            </div>
                        <% } %>
                    <% } %>
                </div>
                <br>
            </div>
        </div>
    </div>
<% } %>

<!-- include footer -->
<%- include ('partials/bottom.ejs') %>
<%- include ('partials/footer.ejs') %>