<!-- include static header -->
<%- include ('partials/header.ejs') %>

<!-- main content -->
<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="col">
                    <br>
                    <h1><%= data[0].name %></h1>
                    <div class="row">
                        <% for(let i=0;i<data.length;i++) { %>
                            <!-- break after 3 items -->
                            <%  if(i % 3 == 0) { %>
                                </div>
                                <!-- end first row items -->
                                <br>
                                <!-- next row items -->
                                <div class="row">
                            <%  } %>
                            <div class="col-4">
                                <div class="card">
                                    <a href="/browse/<%= data[i].category %>/sub/<%= data[i].id %>"><img src="img/subCategories/<%= data[i].image_name %>" class="card-img-top"></a>
                                    <div class="card-body">
                                        <p class="card-text"><%= data[i].subname %></p>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<!-- include footer -->
<%- include ('partials/bottom.ejs') %>
<%- include ('partials/footer.ejs') %>