<!-- include static header -->
<%- include ('partials/header.ejs') %>

<!-- heading -->
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center"><%= categories[0].name %></h1>
        </div>
    </div>
</div>

<!-- sub categories -->
<div class="container d-none d-lg-block">
    <div class="row">
        <div class="col">
            <h2 class="text-center">weitere Kategorien</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <% for(let i = 0;i < categories.length;i++) { %>
                    <div class="col-2">
                        <div class="card">
                            <div class="embed-responsive embed-responsive-16by9">
                                <a href="/category/<%= categories[i].category %>/sub/<%= categories[i].id %>"><img
                                            src="/img/subCategories/<%= categories[i].image_name %>"
                                            class="card-img-top embed-responsive-item" id="cardImg"></a>
                            </div>
                            <div class="card-body">
                                <p class="card-text"><%= categories[i].subname %></p>
                            </div>
                        </div>
                        <br>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<!-- recipes -->
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Rezepte</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <% for(let i = 0; i < data.length; i++) { %>
                    <!-- populate items -->
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <div class="embed-responsive embed-responsive-16by9">
                                <a href="/dish/<%= data[i].id %>"><img src="/uploads/<%= data[i].image_name %>" class="card-img-top embed-responsive-item" id="cardImg" alt="<%= data[i].name %>"></a>
                            </div>
                            <div class="card-body">
                                <p class="card-text"><%= data[i].name %></p>
                                <div class="dropdown-divider"></div>
                                <p><small><%= data[i].short_description %></small></p>
                            </div>
                        </div>
                        <br>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<!-- include footer -->
<%- include ('partials/bottom.ejs') %>
<%- include ('partials/footer.ejs') %>