<!DOCTYPE html>
<html lang="de">
<!-- include static header -->
<%- include ('partials/header.ejs') %>

<!-- main content -->
<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <!-- Heading -->
            <div class="card card-header">
                    Neue Rezepte
            </div>
            <% if(data[0]) { %>
                <!-- first row items -->
                <div class="row">
                <% for(let i=0;i<data.length;i++) { %>
                    <!-- break after 3 items -->
                        <%  if(i % 3 == 0) { %>
                            </div>
                            <!-- end first row items -->
                            <br>
                            <!-- second row items -->
                            <div class="row">
                        <%  } %>
                        <!-- populate items -->
                        <div class="col-xs-12 col-sm-4">
                            <div class="card">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <a href="/dish/<%= data[i].id %>"><img src="uploads/<%= data[i].image_name %>" class="card-img-top embed-responsive-item" id="indexCardImgTop" alt="<%= data[i].name %>"></a>
                                </div>
                                <!--
                                <a href="/dish/<%= data[i].id %>"><img src="uploads/<%= data[i].image_name %>" class="card-img-top" id="indexCardImgTop" alt="<%= data[i].name %>"></a>
                                -->
                                <div class="card-body" id="indexCardBody">
                                    <p class="card-text"><%= data[i].name %></p>
                                    <div class="dropdown-divider"></div>
                                        <p><small><%= data[i].short_description %></small></p>
                                </div>
                            </div>
                            <br>
                        </div>
                <%  } %>
            <%  } %>
            </div>
        </div>
    </div>
</div>

<!-- include footer -->
<%- include ('partials/bottom.ejs') %>
<%- include ('partials/footer.ejs') %>