<!DOCTYPE html>
<html lang="de">
<!-- include static header -->
<% include partials/header.ejs %>

<!-- start body -->
<body>

<!-- dynamic main content -->
<div class="container">
    <!-- move the content one row down -->
    <br>
    <!-- everything in this div in one row -->
    <div class="row">
        <!-- left menu -->
        <div class="col-sm-12 col-md-3">
            <!-- include left menu -->
            <% include partials/left-menu.ejs %>
        </div>
        <!-- main content -->
        <div class="col-sm-12 col-md-9">
            <!-- Heading -->
            <div class="card card-header">
                    Neue Rezepte
            </div>
            <% if(data[0]) { %>
                <!-- first row items -->
                <div class="row">
                <% for(let i=0;i<data.length;i++) { %>
                    <!-- break after 3 items -->
                        <%  if(i % 3 == 0) { %>
                            </div>
                            <!-- end first row items -->
                            <br>
                            <!-- second row items -->
                            <div class="row">
                        <%  } %>
                        <!-- populate items -->
                        <div class="col-xs-12 col-sm-4">
                            <div class="card">
                                <a href="/dish/<%= data[i].id %>"><img src="/public/uploads/<%= data[i].image_name %>" class="card-img-top" id="indexCardImgTop" alt="<%= data[i].name %>"></a>
                                <div class="card-body" id="indexCardBody">
                                    <p class="card-text"><%= data[i].name %></p>
                                    <div class="dropdown-divider"></div>
                                        <p><small><%= data[i].short_description %></small></p>
                                </div>
                            </div>
                            <br>
                        </div>
                <%  } %>
            <%  } %>
            </div>
            <!-- end second row items -->
        </div>
    </div>
</div>
<!-- include static footer -->
<% include partials/footer.ejs %>
<!-- spacing at content end -->
<br>
<!-- end body -->
</body>
<!-- end html -->
</html>