<!-- include static header -->
<%- include ('partials/header.ejs') %>

<!-- Include additional scripts -->
<script src="js/dish/deleteDish.js"></script>

<!-- dynamic main content -->
<div class="container">
    <!-- move the content one row down -->
    <br>
    <!-- everything in this div in one row -->
    <div class="row">
        <!-- left menu -->
        <div class="col-sm-12 col-md-3">
            <!-- include left menu -->
            <%- include ('partials/left-menu.ejs') %>
        </div>

        <!-- main content -->
        <div class="col-sm-12 col-md-9">
            <div class="card card-header">
                Meine Rezepte
            </div>
            <br>

            <div class="card">
                <div class="col">
                    <br>
                    <% for(let i=0;i<data.length;i++) { %>
                        <div class="row">
                            <div class="col-2">
                                <a href="/dish/<%= data[i].id %>"><img src="uploads/<%= data[i].image_name %>" alt="<%= data[i].name %>" class="img-thumbnail" id="myDishesImage"></a>
                            </div>
                            <div class="col-4">
                                <p>
                                    <%= data[i].name %><br>
                                    <small><%= data[i].short_description %></small>
                                </p>
                            </div>
                            <div class="col-3">
                                <!-- Duration -->
                                <p><i class="far fa-clock"></i> <%= data[i].duration %> min.</p>
                            </div>
                            <div class="col-3">
                                <p>
                                Rezept bearbeiten: <a href="/dish/<%= data[i].id %>/edit"><button class="btn"><i class="fas fa-edit"></i></button></a>
                                <!-- include delete modal -->
                                Rezept löschen: <button class="btn" data-toggle="modal" data-target="#deleteDishModal<%= data[i].id %>"><i class="far fa-trash-alt"></i></button>
                                <%- include('modals/delete-dish-modal.ejs', { i : i}) %>
                                </p>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                    <% } %>
                    <br>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- include footer -->
<%- include ('partials/bottom.ejs') %>
<%- include ('partials/footer.ejs') %>