<!-- include static header -->
<%- include ('partials/header.ejs') %>

<!-- include additional scripts -->
<script src="js/dish/deleteDish.js"></script>

<!-- heading -->
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center text-responsive">Meine Rezepte</h1>
        </div>
    </div>
</div>

<% for(let i = 0;i < data.length;i++) { %>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-2">
                <a href="/dish/<%= data[i].id %>"><img src="uploads/<%= data[i].image_name %>" alt="<%= data[i].name %>"
                                                       class="img-thumbnail"></a>
            </div>
            <div class="col-4">
                <p>
                    <%= data[i].name %><br>
                    <small><%= data[i].short_description %></small>
                </p>
            </div>
            <div class="col-3">
                <!-- duration -->
                <p><i class="far fa-clock"></i> <%= data[i].duration %> min.</p>
            </div>
            <div class="col-3">
                Rezept bearbeiten: <a href="/dish/<%= data[i].id %>/edit">
                    <button class="btn"><i class="fas fa-edit"></i></button>
                </a>
                <br>
                <!-- include delete modal -->
                Rezept löschen:
                <button class="btn" data-toggle="modal" data-target="#deleteDishModal<%= data[i].id %>"><i
                            class="far fa-trash-alt"></i></button>
                <%- include('modals/delete-dish-modal.ejs', { i : i}) %>
            </div>
        </div>
        <br>
    </div>
<% } %>

<!-- include footer -->
<%- include ('partials/bottom.ejs') %>
<%- include ('partials/footer.ejs') %>