<!-- include static header -->
<%- include ('partials/header.ejs') %>

<!-- heading -->
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center text-responsive">Einstellungen</h1>
        </div>
    </div>
</div>

<!-- main content -->
<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h2 class="text-responsive">Berechtigungen</h2>
            <p>Berechtigungslevel:
                <% if(session.privileges == 'A') { %>
                    <span style="float: right" class="badge badge-danger">Admin</span>
                <% } else { %>
                    <span style="float: right" class="badge badge-primary">User</span>
                <% } %>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h2 class="text-responsive">Persönliche Daten</h2>
            <div class="row">
                <div class="col-10">
                    <p>Benutzername: <%= session.preferred_username %></p>
                    <p>Vorname: <%= session.given_name %></p>
                    <p>Nachname: <%= session.family_name %></p>
                    <p>Email: <%= session.email %></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h2 class="text-responsive">Passwort</h2>
            <div class="row">
                <div class="col-10">
                    <p>Passwort ändern</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- include footer -->
<%- include ('partials/bottom.ejs') %>
<%- include ('partials/footer.ejs') %>