<!-- include static header -->
<%- include ('partials/header.ejs') %>

<!-- main content -->
<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="col">
                    <br>
                    <% if(data[0] != undefined) { %>
                        <h1><%= data[0].catname %> - <%= data[0].subname %></h1>
                        <div class="row">
                            <% for(let i=0;i<data.length;i++) { %>
                                <!-- break after 3 items -->
                                <%  if(i % 3 == 0) { %>
                                    </div>
                                    <!-- end first row items -->
                                    <br>
                                    <!-- next row items -->
                                    <div class="row">
                                <%  } %>
                                <div class="col-4">
                                    <div class="card">
                                        <a href="/dish/<%= data[i].id %>"><img src="/uploads/<%= data[i].image_name %>" class="card-img-top" id="indexCardImgTop"></a>
                                        <div class="card-body" id="indexCardImgBody">
                                            <p class="card-text"><%= data[i].name %></p>
                                            <small><%= data[i].short_description %></small>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    <!-- no content available -->
                    <% } else { %>
                        <h1>Bisher kein Rezept vorhanden</h1>
                    <% } %>
                    <br>
                    <p><a href="/browse">Zurück</a></p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<!-- include footer -->
<%- include ('partials/bottom.ejs') %>
<%- include ('partials/footer.ejs') %>