<!-- include static header -->
<%- include ('partials/header.ejs') %>

<!-- heading -->
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center text-responsive">Profil von <%= data.user %></h1>
        </div>
    </div>
</div>

<!-- recipes -->
<% for(let i = 0;i < data.dishes.length;i++) { %>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-2">
                <a href="/dish/<%= data.dishes[i].id %>"><img src="/uploads/<%= data.dishes[i].image_name %>"
                                                              alt="<%= data.dishes[i].name %>"
                                                              class="img-thumbnail"></a>
            </div>
            <div class="col-7">
                <p>
                    <%= data.dishes[i].name %><br>
                    <small><%= data.dishes[i].short_description %></small>
                </p>
            </div>
            <div class="col-3">
                <p style="text-align: right"><i class="far fa-clock"></i> <%= data.dishes[i].duration %> min.</p>
            </div>
        </div>
        <br>
    </div>
<% } %>

<!-- include footer -->
<%- include ('partials/bottom.ejs') %>
<%- include ('partials/footer.ejs') %>