<!-- include static header -->
<%- include ('partials/header.ejs') %>

<!-- main content -->
<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-header">
                Profil - <%= data.user[0].name %>
            </div>
            <br>
            <div class="card">
                <div class="col">
                    <br>
                    <h2>Gerichte</h2>
                    <br>
                    <% for(let i = 0;i < data.dishes.length;i++) { %>
                        <div class="row">
                            <div class="col-2">
                                <a href="/dish/<%= data.dishes[i].id %>"><img src="/uploads/<%= data.dishes[i].image_name %>"
                                                                       alt="<%= data.dishes[i].name %>" class="img-thumbnail"></a>
                            </div>
                            <div class="col-7">
                                <p>
                                    <%= data.dishes[i].name %><br>
                                    <small><%= data.dishes[i].short_description %></small>
                                </p>
                            </div>
                            <div class="col-3">
                                <!-- Duration -->
                                <p><i class="far fa-clock"></i> <%= data.dishes[i].duration %> min.</p>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                    <% } %>
                    <br>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

<!-- include footer -->
<%- include ('partials/bottom.ejs') %>
<%- include ('partials/footer.ejs') %>